@charset "utf-8";
/* CSS Document */

@import url(normalize.css);

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/*Layout*/
* {
	box-sizing: border-box;
}

body {
	background: url(../images/body-background.png);
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h2{
	color: #fff;
	font-size: 18px;
	background: #630; 
	height: 24px;
}

h3{
	margin-top: 0px;
}

.wrapper {
	background: #fff;
	margin: 0 auto;
	position: relative;
	width: 720px;
}
.sidebar {
	float: left;
	width: 30%;
	padding: 24px 12px 24px 24px;
	text-align: center;
}
.sidebar a{
	text-decoration: none;
	color:#333;
}
.sidebar a:hover{
	color:#aaa;
}
.sidebar .promos {
	background: url(../images/promos_fondo2.png);
	background-repeat: auto; 
	margin-top: -3px;
}
.sidebar .promos li{
	text-align: left;
	margin-right: 10px;
}
.main {
	float: right;
	width: 70%;
	padding: 24px 24px 24px 12px;
	margin-top: -60px;
}
.header {
	height: 204px;
}
.logo {
	display: block;
	position: absolute;
	z-index: 1;
}
.menu {
	background: #630;
	padding-left: 204px;
	position: absolute;
	top: 85px;
	width: 100%;
}
.menu li {
	display: inline-block;
	list-style:none;
	text-align: center;
	width: 30%;
}
.menu a {
	text-decoration: none;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	height: 25px;
	padding-top: 5px;
}
.menu a:hover{
	color:#EDD7A2;
}
.footer {
	clear: both;
	position: relative;
	background: #630;
	width: 100%;
	height: 40px;
	color: #fff;
	padding: 0 24px;
}
.footer p{
	float: left;
	width: 50%;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer li{
	list-style: none;
	margin-left: 20px;
	display: inline-block;
}
.footer ul{
float: right;
width: 50%;
text-align: right;
}

#columnas {  
  -webkit-column-count:2;  
  -moz-column-count:2;  
  column-count:2;
  height: 450px;
}

/*No sé si esto está bien*/

.fotorama.productos {
	width: 468px;
}
.fotorama.productos .fotorama__nav-wrap {
	/*display: none;*/
}
.fotorama.productos .fotorama__video-close{
	display: none;
}
.fotorama.productos h3 {
	float: left;
	clear: left;
}
.fotorama.productos .texto-producto {
	float: left;
	width: 200px;
}
.fotorama.productos .descripcion-producto {
	float: left;
}
.fotorama.productos img {
	margin-left: 20px;
}
.fotorama.productos ul {
	padding-left: 0px;
	margin-left: 0px;
}
.fotorama.productos ul li {
	width: 468px;
}

/*.fotorama.productos img {
	float: right;
}*/

#colproductos {
  -webkit-column-count:2;  
  -moz-column-count:2;  
  column-count:2;
}
#contacto label{
	display: block;
}
#contacto .filas {
  -webkit-column-count:2;
  -moz-column-count:2;  
  column-count:2;
}
#contacto input:focus {
  border: 1px solid #000;
  background: #F3F3F3;
}