{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{{ lista_ajustes.0.titulo_sitio }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{ lista_ajustes.0.descripcion_sitio }}" />
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/estilos.css" type="text/css" />
</head>
<body>
  <div class="wrapper">

    <div class="header">
        <div class="sidebar">

          <figure class="logo">

              <a href="#home"> <img src="images/logo.png" alt="Dulce Marina"></a>
          
          </figure>  

          <div class="promo1">
              <h3>Promo 1</h3>
          </div>

          <div class="promo2">
            <h3>Promo 2</h3>
          </div>

        </div>

        <nav>
            <ul class="menu">
                <li><a href="#nosotros"></a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contacto">Contáctenos</a></li>
            </ul>
        </nav>            
        
    </div> 
    
    <section id="home">

      <div class="fotorama">
          <img src="http://s.fotorama.io/1.jpg">
          <img src="http://s.fotorama.io/2.jpg">
      </div>

    </section> <!-- cierre #home -->  

    <div id="marco_centro">
      <div id="marco">
        <div id="article">
          <div id="cabecera"></div>
          <nav>
          <ul>
            <li><a href="productos.hlml">PRODUCTOS</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="index.html"> <img src="css/images/logo.png" alt="Dulce Marina"></a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
          </ul>
          </nav>


          <section class="productos">

            <div>
                <!--SLIDER FOTOS-->
                {% if lista_sliderfotos %}
                    <ul>
                    {% for foto in lista_sliderfotos %}
                        <li>
                          {{ foto.imagen_slider.url }}
                          <img src="{{MEDIA_URL}}{{ foto.imagen_slider }}" alt="My image"/>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay fotos disponibles.</p>
                {% endif %}
                <img src="css/images/img1.jpg"><img src="css/images/img2.jpg"><img src="css/images/img3.jpg">
            </div>

            <div>
              <!--NOSOTROS-->
              {% if lista_nosotros %}
              <h2>{{ lista_nosotros.1.titulo_nosotros }}</h2>
              <p>{{ lista_nosotros.1.descripcion_nosotros }}</p>
              {{ lista_nosotros.1.imagen_nosotros }}
              {% endif %}
            </div> 


            <section id="nosotros">
           
              <!--NOSOTROS-->
              {% if lista_nosotros %}
              <h2>{{ lista_nosotros.0.titulo_nosotros }}</h2>
              <p>{{ lista_nosotros.0.descripcion_nosotros }}</p>
              {{ lista_nosotros.0.imagen_nosotros }}
              {% endif %}

            </section>

            <section id="productos">

                <h2>Productos</h2>

                <div class="productos">

                  <!--PRODUCTOS-->
                  {% if lista_productos %}
                    <ul>
                      {% for producto in lista_productos %}
                        <li>
                          <h4>{{ producto.titulo_producto }}</h4>
                          <img src="{{ producto.imagen_producto }}" alt="My image"/>
                          {{ producto.imagen_producto }}
                          {{ producto.descripcion_producto }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>No hay productos disponibles.</p>
                  {% endif %}


                </div>
                
            </section><!-- cierre productos -->

            <section id="servicios">

                <h2>Servicios</h2>

                <div class="servicios">                
                    <li><a href="">Bodas</a></li>
                    <li><a href="">Cumpleaños</a></li>
                    <li><a href="">Eventos</a></li>
                    <li><a href="">Distribución</a></li>

                </div>
                
            </section><!-- cierre servicios-->

		



<!--SERVICIOS-->
{% if lista_servicios %}
    <ul>
    {% for servicio in lista_servicios %}
        <li>
          <h2>{{ servicio.titulo_servicio }}</h2>
          <p>{{ servicio.descripcion_servicio }}</p>
          {{ servicio.imagen_servicio }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay servicios disponibles.</p>
{% endif %}



        </div>
        <footer>
          <hr/>
        </footer>
    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>


